* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.navbar{
 width: 100%;
 height: 10vh;
 background: black;
 color: aliceblue;
 display: flex;
 align-items: center;
 justify-content: space-evenly;

}


.footer{
  width: 100%;
  height: 10vh;
  background: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;

}

.book-list{

  min-height:80vh ;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  justify-items: center;
}

.book{
 text-align: center; 
 margin: 20px 0px;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.imgs{
  width: 300px;
  height: 200px;
  margin-top: 20px;
  transition: all 0.3s ease;
 
}
.imgs:hover{
  transform: scale(1.1);
}
button {
  padding: 10px;
  background: black;
  color: aliceblue;
  width: 300px;
  font-size: 20px;
  border-radius:5px ;

}

a{
  color: aliceblue;
  text-decoration: none;
}
a:hover{
  color: yellowgreen;
  text-decoration:dashed;
}

.fav{

  min-height:80vh ;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  justify-items: center;
}

.book-details{
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

}
.sel{
  padding: 10px;
  background: black;
  color: aliceblue;
  width: 300px;
  font-size: 20px;
  border-radius:5px ;
}

.sett{
  width: 100%;
  height: 80vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;

}